# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE/editor folders
.vscode/
.idea/

# Logs
*.log

# System files
.DS_Store
.env
